:root{
  --verde: #CCFF00;
  --preto-azulado:#00020B;
  --preto-azuladinho:#0a0c11 ;
  --subletra: #575757;
  --pesquisar: #3C3C3C;
}
::selection{
  background-color: var(--verde);
  color: var(--preto-azulado);
}
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Montserrat';
  color: white;
  transition: 0.1s;
}
body{
  background-color: var(--preto-azulado);
}


/*******************NavBar*****************/
header {
  height: 9vh;
  width: 100%;
  background-color: var(--preto-azuladinho);

}
.conter-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 10%;
  gap: 55px;
}
.logo{
  font-family: 'Inika';
  font-weight: bold;
  font-size: 2rem;
  color:var(--verde);
}
#logo{
  cursor: pointer;
}
#pesquisar{
  cursor: pointer;
  background: none;
  border: none;
  position:absolute;
  margin-top: 5px;
}
#menu{
  position: relative;
  z-index: 1;
}
.barra{
  width: 31vw;
  background-color: var(--pesquisar);
  position: relative;
  border-radius: 0 0 10px 10px ;
  padding: 20px 0;
}
.pesquisar{
  background-color: var(--pesquisar);
  border-radius: 12px;
  height: 30px;
  width: 31vw;
  border: none;
  padding-left: 10px;
  padding-right: 35px;
  color: #B7B7B7;
  box-sizing: border-box;
  outline: none;
}
.pesquisar[type=text]:focus{
  border:1px solid var(--verde);

}
nav div img{
  margin-left: -30px;
  margin-bottom: -5px;
}
header nav .user:hover{
  color: var(--verde);
}
/*******************NavBar*****************/

/*Main*/
main{
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.container{
  width: 80%;
  margin-top: 9vw;
}
#container{
  margin-top: 30px;
}
.title{
  font-size: 1.8rem;
}
/*******************Novidades*****************/

.novidades{
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin-bottom: 70px;
  margin-top: -140px;
}
.container > .title{
  margin-bottom: 20px ;
}
main .container .ranksecc{
  margin-top: -120px;
}
.novidades .imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.desc-mus:hover{
  color: var(--verde);
}
.imgArt{
  height: 340,37px;
  width: 290px;
  border-radius: 10px;
}
.hotMusic .imagem #nomeArtista:hover{
  color: var(--verde);
  background-color: var(--preto-azulado);
} 
.nomeArt{
  background-color: var(--verde);
  color: var(--preto-azulado);
  font-weight: 900;
  padding: 2px 8px;
  border-radius: 8px;
  margin-top: -16px;
  margin-bottom: 20px;
}
.hotMusic {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Desc-mus{
  color: #9f9f9f;
}

/***********RANKING**************/
.maisAcessadas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.music{
  display: flex;
  gap: 30px;
}
.music .numRank{
  font-size: 4rem;
  color: var(--subletra);
}
.maisAcessadas .rankMus .music:hover{
  border-radius: 8px;
  background-color: #313131;
} 
.music .numRank:hover{
  color: var(--verde);
}
.info-musica{
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  cursor: pointer;
}
.nomeMusRank{
  color: var(--verde);
  font-weight: bold;
}
main .musica-Container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}
.musArt{
  display: flex;
  align-items: center;
  background-color: var(--preto-azuladinho);
  justify-content: space-around;
  height: 600px;
  width: 120%;
  margin-left: -8vw;
}
.rankArtistas{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.art{
  display: flex;
  align-items: center;
  gap: 120px;
}
.art .imagemArt img{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.numRankArt{
  background-color: var(--verde);
  color: var(--preto-azulado);
  font-weight: 900;
  padding: 15px 23px;
  border-radius: 100% 100% 100% 0;
  margin-left: -170px;
  margin-top: -200px;
  
}
.art .info-artista{
  display: flex;
  flex-direction: column;
}
.art .info-artista .nomeArtRank{
  color: var(--verde);
  font-weight: bold;
}
.art .info-artista .views{
  color: var(--subletra);
  font-weight: 500;
}
@media(max-width: 1100px){
  .imgArt{
    height: 258,21px;
    width: 220px;
    border-radius: 10px;
  }
}
@media (max-width: 860px) {
  *{
    font-size: .8rem;
  }
  main .container .ranksecc{
    margin-top: -220px;
  }
  main .container section .musArt{
    margin: 0 10;
    height: 500px;
  }
  main .musica-Container section .musArt{
    margin: 0 10;
    height: 500px;
  }
  /*novidades*/
  .imgArt{
    height: 234,74px;
    width: 200px;
    border-radius: 10px;
  }
  .music{
    gap: 10px;
  }
  .novidades{
    gap: 10px;
    margin-bottom: 200px;
  }
  /*Rank*/
  .art .imagemArt img{
    width: 100px;
    height: 100px;
  }
  .numRankArt{
    font-weight: 900;
    padding: 8px 13px;
    border-radius: 100% 100% 100% 0;
    margin-left: -1px;
    
  }
  .art .info-artista{
    margin-left: -110px;
  }
}
@media (max-width: 756px){
  footer section .infoapp{
    flex-direction: column;
  }
}
@media (max-width: 656px){
  *{
    font-size: 0.7rem;
  }
  main .container .ranksecc{
    margin-top: -240px;
  }
  .music .numRank{
    font-size: 2rem;
  }
  main .conter section .musArt{
    margin: 0 10;
    height: 280px;
  }
  main .container section .musArt{
    margin: 0 10;
    height: 280px;
  }
  main .musica-Container section .musArt{
    margin: 0 10;
    height: 280px;
  }
  .music{
    gap: 10px;
  }
  .imgArt{
    height: 117,37px;
    width: 100px;
    border-radius: 10px;
  }
  .novidades{
    gap: 10px;
    margin-bottom: 200px;
  }
  /*Rank*/
  .art .imagemArt img{
    width: 60px;
    height: 60px;
  }
  .numRankArt{
    font-weight: 900;
    padding: 4px 8px;
    margin-left: -1px;
    
  }
  .art .info-artista{
    margin-left: -110px;
  }

}
@media (max-width: 400px){
.user{
  display: none;
}
.pesquisar{
  width: 50vw;
  justify-content: space-between;
  margin: 0;
}
header nav{
  margin: 0 3px;
}
header #nav div img{
  
}
.art .imagemArt img{
  width: 50px;
  height: 50px;
}

}
@media (max-width: 516px){
  .user{
    display: none;
  }
  .pesquisar{
    width: 50vw;
    justify-content: space-between;
    margin: 0;
  }
}
@media (max-width: 312px){
  .imgArt{
    height: 70,42px;
    width: 60px;
    border-radius: 10px;
  }
  .pesquisar{
    width: 50vw;
    justify-content: space-between;
    margin: 0;
  }
}
/**********Footer***************/
footer {
	background-color: var(--preto-azulado);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
  border: 4px solid var(--verde);
  border-bottom: none;
  border-right: none;
  border-left: none;
}
footer section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 10%;
}

section .navegacao{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 50px;
}
section .navegacao li{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}
section .navegacao li a{
  text-decoration: none;
}
section .navegacao li a:hover{
  color: var(--verde);
}
section .navegacao li label{
  font-weight: bold;
  color: var(--subletra);
}
section .listra{
  background-color: var(--subletra);
  height: 1px;
  width: 100%;
}
footer section .contato{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer section label{
  color: var(--subletra);
  font-weight: bold;
}
footer section .contato ul{
  display: flex;
  list-style: none;
  gap: 2%;
}
footer section .contato ul li a img{
  width: 15vw;
}
footer label{
  margin-bottom: 13px;
}
footer section .infoapp{
  display: flex;
  justify-content: space-between;
}
footer section .infoapp div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .direitos{
  margin-top: 68px;
}

/***************PAGINA DE MUSICA***************/
main .music-container{
  margin: 10px 10%;
  width: 100%;
  /* border: 1px white solid; */
  display: flex;
  justify-content: space-between;
}
main .music-container .letra{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .music-container .infoMusica{
  display: flex;
  align-items: center;
  gap: 10px;
}
main .music-container .infoMusica img{
  border-radius: 100%;
  height: 50px;
}
main .music-container .infoMusica .nome{
  display: flex;
  flex-direction: column;
  color: var(--verde);
  font-weight: bold;
  font-size: 1.1rem;
}
main .music-container .infoMusica .nomeArt{
  color: var(--subletra);
  font-weight: bold;
}

.nomeArt:hover{
  background-color: var(--preto-azulado);
  color: var(--verde);
}
main .music-container .letraMusica{
  margin-left: 60px;
}
.nomeMusica a:hover{
  background-color: var(--verde);
  color:var(--preto-azulado);
  border-radius: 8px;
  padding: 0 3px;
}
main .container{
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.traduzir{
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid var(--subletra);
  background:none;
  color: var(--subletra);
  font-weight: bold;
}

/**********PAGINA DE ARTISTA************/
main .imagem-Principal #hero{
    width: 100vw; /* width of container */
    height: 337px; /* height of container */
    object-fit: cover;
    border: 5px solid black;
    filter: brightness(0.55) opacity(0.75);
}
main .imagem-Principal{
  margin-bottom: 50px;
}
main .conter-pagina .conter{
  display: flex;
  flex-direction: column;
  gap: 6vw;
  margin: 0 10%;
}

main .imagem-Principal .nomeRank{
  display: flex;
  align-items: baseline;
  gap: 10px;
}
main .imagem-Principal .nomeRank h1{
  font-size: 3rem;
  color: var(--verde);
}
main .imagem-Principal span{
  font-weight: bold;
}
main .imagem-Principal .infos-artista{
  margin-top: -110px;
  margin-left: 10%;
  margin-bottom: 50px;
  position: relative;
}
.titulos{
  color: var(--verde);
  font-size: 1.8rem;
  margin-bottom: 38px;
}
main .mais-tocadas .top-musicas .Musics{
  display:flex;
  flex-direction: column;
}
main .mais-tocadas .top-musicas .Musics .musica{
  margin-bottom: 14px;
}
.fonte{
  color: var(--verde);
  border-bottom: 1px solid;
}
main .mais-tocadas .top-musicas .Musics a{
  display: flex;
  gap: 10px;
}
/* main .mais-tocadas .top-musicas .Musics a span:hover{
  border-radius: 8px;
  color: var(--verde);
  background-color: #313131;
} */
main .conter-pagina .conter .conter-musicas .allMusics{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
main .conter-pagina .conter .conter-musicas .allMusics div a{
  display: flex;
  gap: 10px;
}
div .a:hover{
  border-radius: 8px;
  font-weight: bold;
  color: var(--preto-azulado);
  background-color: var(--verde);
}
div .a span:hover{
  color: var(--preto-azulado);
}
@media(max-width:685px) {
  .randomMusic{
    margin-top: 10px;
  }
  .traduzir{
    cursor: pointer;
    height: 20px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid var(--subletra);
    background:none;
    color: var(--subletra);
    font-weight: bold;
    margin-right: 15px;
  }
}
@media (max-width:625px){
  main .conter-pagina .conter{
    gap: 20vw;
  }
}
@media(max-width:420px){
  main .mais-tocadas .top-musicas .Musics{
    display: flex;
    flex-direction: column;
  } 
  main .conter-pagina .conter .conter-musicas .allMusics{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media(max-width:330px){
  .traduzir{
    cursor: pointer;
    height: 20px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid var(--subletra);
    background:none;
    color: var(--subletra);
    font-weight: bold;
  }
}
.tradutor{
  margin-top: 10px;
}
.traduzir:hover{
  color: var(--verde);
  border-color: var(--verde);
}
.randomMusic{
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid var(--subletra);
  background:none;
  color: var(--subletra);
  font-weight: bold;
}
.randomMusic:hover{
  color: var(--verde);
  border-color: var(--verde);
}
.banda{
  color: var(--verde);
  font-weight: bold;
}
#menu .barra{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40vw;
}
#menu .barra div a:hover{
  background-color: var(--subletra);
  border-radius: 8px;
}