:root{
  --verde: #CCFF00;
  --preto-azulado:#00020B;
  --preto-azuladinho:#0a0c11 ;
  --subletra: #575757;
  --pesquisar: #3C3C3C;
}
::selection{
  background-color: var(--verde);
  color: var(--preto-azulado);
}
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Montserrat';
  color: white;
}
body{
  background-color: var(--preto-azulado);
}


/*******************NavBar*****************/
header{
  height: 9vh;
  background-color: var(--preto-azuladinho);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 10%;
}
.logo{
  font-family: 'Inika';
  font-weight: bold;
  font-size: 2rem;
  color:var(--verde);
}
.pesquisar{
  background-color: var(--pesquisar);
  border-radius: 12px;
  height: 30px;
  width: 31vw;
  border: none;
  padding-left: 10px;
  color: #B7B7B7;
}
nav div img{
  margin-left: -30px;
  margin-bottom: -5px;
}
header nav .user:hover{
  color: var(--verde);
}
/*******************NavBar*****************/

/*Main*/
main{
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.container{
  width: 80%;
  margin-top: 105px;
}
.title{
  font-size: 1.8rem;
}
/*******************Novidades*****************/
.novidades{
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin-bottom: 200px;
}
.container > .title{
  margin-bottom: 20px ;
}
.novidades .imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.novidades .hotSpots .hotMusic .imagem .Desc-mus:hover{
  color: var(--verde);
}
.imgArt{
  height: 30vh;
  width: 20vw;
  border-radius: 10px;
}
.nomeArt{
  background-color: var(--verde);
  color: var(--preto-azulado);
  font-weight: 900;
  padding: 2px 8px;
  border-radius: 8px;
  margin-top: -16px;
  margin-bottom: 20px;
}
.hotMusic {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Desc-mus{
  color: #9f9f9f;
}

/***********RANKING**************/
.maisAcessadas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.music{
  display: flex;
  gap: 30px;
}
.music .numRank{
  font-size: 4rem;
  color: var(--subletra);
}

.music .numRank:hover{
  color: var(--verde);
}
.info-musica{
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  cursor: pointer;
}
.nomeMusRank{
  color: var(--verde);
  font-weight: bold;
}
.nomeMusRank:hover{
  border-bottom: 1px solid white;
}
main .musica-Container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}
.nomeArtRank:hover{
  border-bottom: 1px solid white;
  width: 100%;
}
.musArt{
  display: flex;
  align-items: center;
  background-color: var(--preto-azuladinho);
  justify-content: space-around;
  height: 600px;
  width: 120%;
  margin-left: -8vw;
}
.rankArtistas{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.art{
  display: flex;
  align-items: center;
  gap: 120px;
}
.art .imagemArt img{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.numRankArt{
  background-color: var(--verde);
  color: var(--preto-azulado);
  font-weight: 900;
  padding: 15px 23px;
  border-radius: 100% 100% 100% 0;
  margin-left: -170px;
  margin-top: -200px;
  
}
.art .info-artista{
  display: flex;
  flex-direction: column;
}
.art .info-artista .nomeArtRank{
  color: var(--verde);
  font-weight: bold;
}
.art .info-artista .views{
  color: var(--subletra);
  font-weight: 500;
}
@media (max-width: 860px) {
  *{
    font-size: .8rem;
  }
  main .container section .musArt{
    margin: 0 10;
    height: 500px;
  }
  main .musica-Container section .musArt{
    margin: 0 10;
    height: 500px;
  }
  /*novidades*/
  .imgArt{
    height: 180px;
    width: 200px;
    border-radius: 10px;
  }
  .music{
    gap: 10px;
  }
  .novidades{
    gap: 10px;
    margin-bottom: 200px;
  }
  /*Rank*/
  .art .imagemArt img{
    width: 100px;
    height: 100px;
  }
  .numRankArt{
    font-weight: 900;
    padding: 8px 13px;
    border-radius: 100% 100% 100% 0;
    margin-left: -1px;
    
  }
  .art .info-artista{
    margin-left: -110px;
  }
}
@media (max-width: 756px){
  footer section .infoapp{
    flex-direction: column;
  }
}
@media (max-width: 656px){
  *{
    font-size: 0.7rem;
  }
  .music .numRank{
    font-size: 2rem;
  }
  main .container section .musArt{
    margin: 0 10;
    height: 280px;
  }
  main .musica-Container section .musArt{
    margin: 0 10;
    height: 280px;
  }
  .music{
    gap: 10px;
  }
  .imgArt{
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
  .novidades{
    gap: 10px;
    margin-bottom: 200px;
  }
  /*Rank*/
  .art .imagemArt img{
    width: 60px;
    height: 60px;
  }
  .numRankArt{
    font-weight: 900;
    padding: 4px 8px;
    margin-left: -1px;
    
  }
  .art .info-artista{
    margin-left: -110px;
  }

}
@media (max-width: 400px){
.user{
  display: none;
}
.pesquisar{
  width: 50vw;
  justify-content: space-between;
  margin: 0;
}
header nav{
  margin: 0 3px;
}
header #nav div img{
  display: none;
}
.art .imagemArt img{
  width: 50px;
  height: 50px;
}

}
@media (max-width: 516px){
  header #nav div img{
    display: none;
  }
}
@media (max-width: 312px){
  .imgArt{
    height: 60px;
    width: 60px;
    border-radius: 10px;
  }
}
/**********Footer***************/
footer {
	background-color: var(--preto-azulado);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
  border: 4px solid var(--verde);
  border-bottom: none;
  border-right: none;
  border-left: none;
}
footer section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 10%;
}

section .navegacao{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 50px;
}
section .navegacao li{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}
section .navegacao li a{
  text-decoration: none;
}
section .navegacao li a:hover{
  color: var(--verde);
}
section .navegacao li label{
  font-weight: bold;
  color: var(--subletra);
}
section .listra{
  background-color: var(--subletra);
  height: 1px;
  width: 100%;
}
footer section .contato{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer section label{
  color: var(--subletra);
  font-weight: bold;
}
footer section .contato ul{
  display: flex;
  list-style: none;
  gap: 2%;
}
footer section .contato ul li a img{
  width: 15vw;
}
footer label{
  margin-bottom: 13px;
}
footer section .infoapp{
  display: flex;
  justify-content: space-between;
}
footer section .infoapp div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .direitos{
  margin-top: 68px;
}

/***************PAGINA DE MUSICA***************/
main .music-container{
  margin: 10px 10%;
  width: 100%;
  /* border: 1px white solid; */
  display: flex;
  justify-content: space-between;
}
main .music-container .letra{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .music-container .infoMusica{
  display: flex;
  align-items: center;
  gap: 10px;
}
main .music-container .infoMusica img{
  border-radius: 100%;
  height: 50px;
}
main .music-container .infoMusica .nome{
  display: flex;
  flex-direction: column;
  color: var(--verde);
  font-weight: bold;
  font-size: 1.1rem;
}
main .music-container .infoMusica .nomeArtista{
  color: var(--subletra);
  font-weight: bold;
}
main .music-container .letraMusica{
  margin-left: 60px;
}
